/** Main CSS file **/

/* Eric Meyer's Reset Reloaded */
/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;*/
	/*vertical-align: baseline;*/
	background: transparent;
}
body {
	background: #fff; /*#fef7ed;*/
	color: #555;
	font-family: "Helvetica Neue", "Trebuchet MS", "Tahoma", sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	margin: 10px 0px;
}

/** Clearing div **/
/* =Clearfix (all browsers)
--------------------------------*/
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
/* IE6 */ 
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child+html .clearfix {min-height: 1px;}


/** Generic classes  and styling **/
ul.linear li { /** Makes lists linear **/
	display: inline-block;
	list-style-type: none;
}

a, a:hover, a:visited {
	color: #222;
	cursor: pointer;
	text-decoration: none;
}

#content a {
	color: #428542;
}

/** Generic styled form **/
.styled-form {
	margin: 10px 0px;
}

.styled-form li {
	margin: 10px 0px;
}

.styled-form .label {
	display: inline-block;
	padding-right: 15px;
	text-align: right;
	vertical-align: top;
	width: 10em;
}

.styled-form .info {
	display: inline-block;
	vertical-align: top;
	width: 30em;
}

.styled-form .errorlist {
	background-color: #fff2f4;
	border-top: 1px solid #a62839;
	border-bottom: 1px solid #a62839;
	color: #a62839;
	font-size: 0.8em;
	font-family: "Arial", sans-serif;
	margin: 5px 0px;
	width: 20em;
}

.errorlist li {
	margin: 3px 0px;
	padding: 5px;
}

.non-field-errors .errorlist {
	width: 40em;
}

.styled-form fieldset {
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: 2px solid rgb(200,200,200) ;
	padding: 15px;
}


/** Messages framework styling **/
#messages {
	font-size: 0.9em;
	font-family: "Arial", sans-serif;
	/*margin: 5px 0px;*/
	/*margin: auto;
	position: absolute;
	top: 0px;
	left: 25%;
	width: 50%;
	z-index: 1;*/
	position: absolute;
	top: 68px;
	width: 100%;
}

#messages li {
	/*
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;*/
	border: 1px solid;
	/*margin: 3px 0px;*/
	padding: 5px 0px 5px 50px;
}

#messages .success {
	background: rgba(218,240,218, 0.8) /*#daf0da*/ url(/media/img/ok.png) no-repeat 8px 5px;
	border-top: 1px solid #006900;
	border-bottom: 1px solid #006900;
	color: #006900;
}

#messages .error {
	background: rgba(255,242,244, 0.8) /*#fff2f4*/ url(/media/img/error.png) no-repeat 8px 5px;
	border-top: 1px solid #a62839;
	border-bottom: 1px solid #a62839;
	color: #a62839;	
}

#messages .info {
	background: rgba(255,255,240, 0.8) /*#fffff0*/ url(/media/img/alert.png) no-repeat 8px 5px;
	border-top: 1px solid #ffd000;
	border-bottom: 1px solid #ffd000;
	color: #e0ac00;
}


/** Notes and other miscellaneous text **/
.note {
	color: gray;
	font-size: 0.7em;
	font-style: italic;
}

/** Header **/
#header {
	/*
	background: #a7a7a7; /** Non-CSS3 browsers **	
	background: -moz-linear-gradient(top, #cbcbcb, #a7a7a7);
	background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#a7a7a7));
	*/
	/*border-bottom: 1px solid #555;*/
	font-family: "Droid Sans", "Helvetica", "Arial", sans-serif;
	height: 68px;
	text-shadow: 0px 2px 1px #ddd;
}

#header-logo {
	font-size: 1.5em;
	margin-left: 10px;
	padding: 10px 0px;
}

#header-nav {
	font-size: 0.8em;
	font-weight: bold;
	margin-right: 15px;
	position: relative;
	text-align: right;
	top: -30px;
}

/** Content **/
#content {
	background: transparent url(/media/img/headerbg.png) repeat-x top;
	color: #444;
	font-family: "Droid Sans", "Helvetica", "Arial", sans-serif;
	text-shadow: 0px 2px 1px #eee;
	padding-top: 30px;
}

/** Public landing page **/

#index-title {
	font-family: "IM Fell English", "Helvetica", "Arial", sans-serif;
	font-size: 7.0em;
	letter-spacing: -4px;
	margin: auto;
	text-align: center;
	width: 80%
}

#index-blocks {
	margin: auto;
	width: 80%;
}

.index-block {
	display: inline-block;
	margin: 4%;
	padding: 12px;
	vertical-align: top;
	width: 22%;
	/*border:1px solid #000;
	background: -moz-linear-gradient(top, #a3823e, #fef7ed);
	background: -webkit-gradient(linear, left top, left bottom, from(#a3823e), to(#fef7ed));*/
}

.index-block h1 {
	border-bottom: 3px solid #555;
	margin-bottom: 15px;
}


/** Footer **/

#footer {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 30px;
	text-shadow: 0px 2px 1px #eee;
}

#footer-items {
	margin: auto;
	text-align: center;
	width: 60%;
}