
#signin, 
#signup {
	width: 80%;
}

#signup-about {
	color:gray;
	font-size: 22px;
	margin-bottom: 20px;
}


#auth-what-is-openid {
	background-color: rgb(255,255,240);
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 7px 7px 10px #ccc;
	-webkit-box-shadow: 7px 7px 10px #ccc;
	-moz-box-shadow: 7px 7px 10px #ccc;
	border: 2px solid rgb(255, 208, 0);
	padding: 15px;
	width: 600px;
		
	/** positioning **/
	position: absolute;
	top: 270px;
	left: 360px;	
}

#auth-what-is-openid ul {
	padding-left: 30px;
}

#auth-what-is-openid ul li {
	list-style-type: circle;
}